@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-standard: 'Inter', sans-serif;
    --font-size-standard: 16px;
    --font-t1: 25px;
    --font-t2: 20px;
    --font-t3: 13px;
    --color-principal: #000;
    --color-secundario: #47A138;
    --color-terciario: #CBCBCB;
    --color-cuarto: #E4EDE3;
    --ancho-standard: 1200px;
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: var(--font-standard);
    font-size: var(--font-size-standard);
    color: var(--color-principal);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-cuarto);
    overflow-x: hidden;
    padding-bottom: 24px;
}

a {
    color: var(--color-principal);
    text-decoration: none;

    &:hover {
        color: var(--color-secundario);
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-padding {
    padding-left: calc((100% - var(--ancho-standard)) / 2);
    padding-right: calc((100% - var(--ancho-standard)) / 2);

    @media (max-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

main.flex {
    align-items: stretch;
}

.columna-central {
    flex-grow: 1;
}